/*
* @Author: GuoLanyun
* @Date:   2018-02-14 12:08:15
* @Last Modified by:   GuoLanyun
* @Last Modified time: 2018-03-08 11:00:48
*/
@import url("base.css");

@font-face {
  font-family: 'iconfont';  /* project id 553592 */
  src: url('http://at.alicdn.com/t/font_553592_yrmr3hicglex9a4i.eot');
  src: url('http://at.alicdn.com/t/font_553592_yrmr3hicglex9a4i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_553592_yrmr3hicglex9a4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_553592_yrmr3hicglex9a4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_553592_yrmr3hicglex9a4i.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
i{
	font-style: normal;
}

/* 头部开始 */
.header{
	/* width: 100%; */
	height: 75px;
	background: white;
	margin: 0 auto;
	/* position: absolute;
	top: 0;
	left: 0; */
	overflow: hidden;
}
.header_juzh{
	/* width: 1200px; */
	height: 55px;
	/* background: green; */
    margin:10px  auto;
}
.header_juzh_left{
	width: 148px;
	height: 40px;
	/* background: red; */
	float: left;
	margin-top: 8px;
	margin-left: 90px;
}
.header_juzh_right{
	width: 460px;
	height: 24px;
	/* background: red; */
	float: right;
	margin-top:15px;

	/* display: flex; */
	/* justify-content: space-between; */
}
.header_list{
	width: 60px;
	height: 24px;
	/* background: yellow; */
	float: left;
}
.header_list li a{
	display: block;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
}
.header_list li a:hover{
	text-decoration: none;
	border-bottom: 2px solid #ff6700;
}
/* 头部结束 */
/* banner开始 */
 .banner{
 	width: 100%;
 	height: 350px;
 	
 }
 .img_box{
	width: 100%;
	height: 350px;
	background: url('../img/tours.jpg') no-repeat center center;
}
.banner_nk{
	/* width: 1200px; */
	height: 350px;
	/* background: red; */
	overflow: hidden
}
.ab{
	width: 500px;
	height: 72px;
    margin: 60px auto;
    font-size: 60px;
    font-weight: 500;
}
.learn{
	/* width: 1100px; */
	height: 30px;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
}
/* banner结束 */

/* 介绍开始 */
.jieshao{
	padding: 40px 0;
	background: #F5F5F5;
	padding-bottom: 70px;
}
.about_head{
	max-width: 600px;
    /* background: white; */
    margin: 0 auto 50px;
}
.about_head h3{
	font-size: 36px;
	color: #0D0D0D;
	text-align: center;
    font-weight: 400;
}
.about_head p{
    font-size: 16px;
    color: #888;
    line-height: 22px;
    text-align: center;
}
.jieshao_nk{
	/* width: 1200px; */
	height: 850px;
	/* background: white; */
	margin: 0 auto;
}
.jieshao_list{
	width: 390px;
	height: 395px;
	background: white;
	padding: 0;
	float: left;
	border-right: 30px solid #f5f5f5;
    border-bottom: 30px solid #f5f5f5;
    box-sizing: border-box;
    position: relative;
}
.jieshao_nk .jieshao_list:nth-child(3){
	border-right:30px solid #f5f5f5; 
}
.jieshao_nk .jieshao_list:last-child{
	border-right:30px solid #f5f5f5; 
}
.jieshao_tu{
	/* width: 360px; */
	height: 300px;
	/* background: yellow; */
	display: block;
}
.jieshao_tu img{
	width: 100%;
	height: 100%;
	display: block;
}
.jieshao_bottom{
	width: 360px;
	height:50px;
	/* background: yellow; */
	margin-top: 10px;
}
.jieshao_bo_le{
	width: 320px;
	height: 25px;
	/* background: green; */
	display: block;
	font-size: 18px;
	color: black;
	margin-left: 30px;
}
.jieshao_bottom p{
	font-size: 12px;
	color: #888;
	margin-left: 30px;
	margin-top: 5px;
}
.jieshao_bottom .jieshao_bo_le:hover{
	text-decoration: none;
	color: #ff6700;
}
.botton{
	width: 185px;
	height: 40px;
	background: #ff6700;
	display: block;
	margin: 0 auto;
	font-size: 12px;
    line-height: 40px;
    border-radius: 30px;
    font-weight: 900;
    color: white;
    text-align: center;
}
.row .botton:hover{
	text-decoration: none;
    background: #CF7700;
    color: white;
}
/* 介绍结束 */
/* 底部开始 */
.dibu{
	padding: 42px 0;
    background: #0D1218;
    position: relative;
    margin-top: 50px;
}
.dibu_left{
	width: 555px;
	height: 36px;
	float: left;
	/* background: yellow; */
}
.dibu_left p{
	font-size: 14px;
	line-height: 36px;
	color: white;
}
.dibu_right{
	width: 585px;
	height: 36px;
	/* background: yellow; */
	float: right;
}
.dibu_right ul{
	width: 205px;
	height: 36px;
	/* background: red; */
	float: right;
}
.dibu_right ul li{
	width: 36px;
	height: 36px;
	background:#86888B;
	margin-right: 5px;
	border-radius: 50%;
	float: left;
}
.dibu_right ul li a{
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #252525;
	margin-left: 10px;
	text-decoration: none;
}
.jiantou{
	display: block;
	width: 50px;
	height: 50px;
	background: #0C1117;
	position: absolute;
	right: 50%;
	top: 0;
	transform: translate(50%,-50%) rotate(45deg);
}
.jian{
	display: block;
	width: 15px;
	height: 15px;
	transform: rotate(-360deg);
	position: absolute;
	top: -18px;
	right: 50%;  
}
.icon7{
	font-size: 24px;
	color: white;	
}
.jiantou:hover{
	background: skyblue;
}

.jian:hover{
	text-decoration: none;
}
.dibu_right ul li:hover{
	background: skyblue;
}
/* 底部结束 */





/* PC大屏 >1200px*/
@media screen and (min-width:1200px){
    
}

/* PC小屏 992-1200px*/
@media screen and (min-width:992px) and (max-width: 1200px){
	.jieshao_nk{
   	width: 960px;
   }
   .jieshao_list{
   	margin: 0 auto;
   }
    
}

/* 平板端 768-992px*/
@media screen and (min-width:768px) and (max-width: 992px){
    .jieshao_nk{
   	/* width: 1100px; */
   	margin: 0 auto;
   }
   .jieshao_list{
   	width: 50%;
   }

}

/* 移动端  <768px */
@media screen and (max-width:768px){
   .jieshao_nk{
   	width: 390px;
   } 
} 